.scroll-button {
  width: 84px;
  height: 84px;
  position: fixed;
  right: 20px;
  bottom: 60px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 100;
  transition: .5s ease; 
  background-image: url('https://www.protosolution.co.jp/codebase/common/img/top_btn.png')
}