
h1  {
  text-align: center;
}

body {
  background-color: #cccccc;
  padding-top: 40px;
}

.navbar-default{
  font-weight: 200;
  border-bottom: 1px solid #cccccc;
}

.fa-guitar {
  margin-right: 5px;
}

.jumbotron-main {
  position: relative;
  top: 20%;
}

.about-contents {
  background-color: #17a2b8;
  padding: 5rem 0;
  color: #cccccc;
}

.about-contents img{
  text-align: center;
}

.about-hobby {
  background-color: #224d53;
  padding: 5rem 0;
  color: #cccccc;
}
.about-photo {
  background-color: #06373d;
  padding: 5rem 0;
  color: #cccccc;
}
